body{
height:100%;
overflow-y: hidden;
}
.container {
  margin: auto;
  width: 910.88px;
  height: 1284px;
  padding-top: 12px;
  position:relative;
}
header {
  display:table;
  width:909.3px;
}
.tnumber {
  width: 308.1px;
  height: 36px;
  clear: right;
  float: left;
  text-align: left;
  padding-left: 6.5px;
}
.tnumber img {
  vertical-align: middle;
  height: 22px;
  width: 22px;
}
.tnumber span {
font-size: 19px;
font-family: Arial,sans-serif;
color: #5e696d;
vertical-align: baseline;
}
.form1 {
 text-align: left;
 float: left;
 display:block;
 width: 496px;
 height: 27px;
 background-image: linear-gradient(to top, #0e385d 0%, #13466a 50%, #1f6787 100%);
 border-radius: 4px;
 box-shadow: 5px 5px 3px 0px #c1c1c1;
 clear: right;
 margin-bottom:10px;
}
.form1 form {
display:block;
width: 496px;
height: 27px;
}
.form1 img {
  margin:0 0 2px 5px;
  vertical-align:bottom;
}
.form1 input{
 width: 114px;
 height: 16px;
 font-family: lucida,Arial,sans-serif;
 vertical-align:top;
 margin-top:4px;
}
.form1 button {
  font-family: lucida,Arial,sans-serif;
  font-size: 10.90px;
  color:white;
  background-color: transparent;
  border: none;
  vertical-align:top;
  margin-top:4px;
}
.form1 button:hover{
  text-decoration: underline;
}
.form1 span {
  color:white;
}
.form1 a,a:visited {
  color: #959fa7;
  font-size: 12px;
}
.nav1 {
  display: block;
  width: 75px;
  height: 20px;
  float: right;
  border-radius: 9px;
  box-shadow: 1px 1px 1px 2px #c1c1c1;
  vertical-align: middle;
  margin-bottom:10px;
  margin-right: 9px;
}
.nav1 a img{
margin-top: 3px;
margin-right: 3px;
}
.mainimg{
  height:236px;
  width:909.3px;
  margin-bottom: 6px;
  clear:both;
}
menu {
  display: block;
  width:910.88px;
  height: 35px;
  box-shadow: 4px 4px 9px -3px #50525e;
  background-image:linear-gradient(0deg, #060707 1%, #5D676E 100%, #5D676E 100%);
  border-radius: 5px;
}
menu ul {
  width: 629px;
}
menu li {
  height: 35px;
  list-style: none;
  display: inline-block;
  float: right;
}
menu a{
  display: block;
  height: 35px;
  min-width: 100px;
  line-height: 35px;
  font-size: 13.65px;
  text-decoration: none;
  font-family: lucida,Arial,sans-serif;
  color:#b1bcc1;
}
menu li:hover{
  background-image: linear-gradient(to bottom,#1f6787 0%, #154D6F 52%, #0d365a 100%);
  border-radius: 20px;
}
menu a:hover {
  color:white;
}
.buy {
  float: right;
  display: block;
  width: px;
  height: 35px;
  margin-right: 11px;
}
.buy p {
  display: inline-block;
  vertical-align:top;
  float: right;
  height: 35px;
  line-height: 35px;
  margin: 0 5px;
  color: white;
  font-size: 11px;
  font-family:Arial,sans-serif;
}
.buy p span {
  font-size: 12px;
  color:#0d5a8f;
}
.buy img {
  float: right;
  margin: 6px 5px;
}
.search {
  display: block;
  width: 902.88px;
  height: 149px;
  padding: 11px 4px 0 4px;
}
.avto {
  display: inline-block;
  float: left;
  width:379px;
  height: 132px;
  border-radius: 20px;
  border: 1px solid #b6b6b7;
  box-shadow:4px 4px 8px -3px #979797;
  padding-left: 20px;
  padding-right: 14px;
}
.avto h3 {
display:inline-block;
font-size: 12px;
font-family: Arial Black,sans-serif;
color: #154467;
}
.avto h4 {
display:inline-block;
font-family: Arial Black,sans-serif;
color: #154467;
font-size:10px;
vertical-align: baseline;
margin-top: 2px;
float: left;
}
.avto .h4r  {
font-family: Arial Black,sans-serif;
color: #154467;
font-size:10px;
vertical-align: bottom;
float:right;
margin-right: 5px;
margin-top:-1px;
}
.avto form {
display:inline-block;
height:116px;
width: 379px;
float:left;
}
.FindDiscs , .FindTiers{
width:180px;
height:116px;
float:left;
display:inline-block;
text-align:left;
}
.FindTiers {
float:right;
}
.shiny {
  display: inline-block;
  width: 180px;
  height: 133px;
  border-radius: 18px;
  border: 1px solid #b6b6b7;
  box-shadow:4px 4px 8px -3px #979797;
  padding-left: 11px;
}
.disc {
  display: inline-block;
  float: right;
  width: 260px;
  height: 134px;
  border-radius: 18px;
  border: 1px solid #b6b6b7;
  box-shadow:4px 4px 8px -3px #979797;
  padding-left:9px;
}
.shiny h3, .disc h3 {
  text-align: left;
  font-family: Arial Black,sans-serif;
  color: #154467;
  font-size:12px;
  vertical-align: bottom;
}
.katalog {
  width: 192.3px;
  height: 634px;
  float: left;
  padding-top: 4px;
}
.katalog  p, .brands p {
  font-size: 12.73px;
  font-family: lucida,Arial,sans-serif;
  font-weight: bold;
  color:#114165;
  display: block;
  vertical-align: middle;
  width: 177.5px;
  height: 25px;
  line-height: 25.4px;
  border-radius: 20px;
  border: 1px solid #b6b6b7;
  box-shadow:4px 4px 8px -3px #979797;
  text-align: left;
  margin-bottom:13px;
}
.katalog p img, .zagolovok  img, .brands p img,.zagolovok2 img{
  vertical-align: top;
  float:left;
  margin-left: 3px;
}
 .zagolovok, .zagolovok2{
  display: block;
  width: 148px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #b6b6b7;
  box-shadow:none;
}
.zagolovok2 {
width: 136px;
margin: 11px 0;
margin-left:13px;
}
.zagolovok span ,.zagolovok2 span{
  font-size: 14px;
  font-family: lucida,Arial,sans-serif;
  font-weight: 600;
  color:#114165;
  line-height: 25.4px;
  float:left;
}
.katalog ul{
  width: 150px;
  height: 101px;
}
.katalog li {
  list-style-image: url(../img/marker.png);
  height: 25px;
  width: 110px;
  color: #465961;
  float: right;
}
.katalog li a, .brands label {
  text-decoration: none;
  font-size: 12.73px;
  font-family: lucida,Arial,sans-serif;
  height: 25px;
  line-height: 25px;
  color: #465961;
}
.katalog li:hover{
  list-style:url(../img/marker2.png);
}
.katalog li a:hover {
  text-decoration: underline;
  color: #0c3256;
  font-family:Arial,sans-serif;
  font-style:oblique;
}
.brands {
  width: 182.34px;
  height: 641px;
  float: right;
}
.brands form {
height: 641px;
width:100px;
}
.brands label{
  display:block;
  height: 17px;
  line-height: 15px;
  color: #465961;
  font-family:lucida,Arial,sans-serif;
  margin-left:15px;
  vertical-align:middle;
  font-size:12.73px;
}
.brands label input {
margin-right:8px;
}
.brands button{
  height: 25px;
  width: 78px;
  background-image: linear-gradient(to bottom,#1f6787 0%, #154D6F 52%, #0d365a 100%);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 14px;
  font-family:Arial,sans-serif;
  float: left;
  margin-top: 16px;
  margin-left:25px;
  box-shadow: 1px 1px 1px 2px #c1c1c1;
}
main .wrapper{
height:615px;
width:504px;
background-color:#d7dcdf;
float:left;
padding-top:13px;
padding-left:22px;
}
figure {
display:block;
width:137px;
height:185px;
float:left;
margin-right:30px;
margin-bottom: 20px;
}
figure div {
height:130px;
width:137px;
background-color:white;
border-radius:10px;
border:1px solid #a3adb1;
margin:0 auto;
}
figure img {
margin:6px auto;
}
figcaption h3 {
font-family:lucida,Arial,sans-serif;
font-size:16px;
color:#206988;
font-style:normal;
}
figcaption p {
font-family:Arial,sans-serif;
font-size:14px;
color:black;
font-style:normal;
}
figcaption {
font-family:Arial Black,Arial,sans-serif;
font-style:oblique;
font-size:17.54px;
color:#206988;
}
figcaption span {
font-family:Arial Black,Arial,sans-serif;
font-style:oblique;
font-size:13.15px;
color:#206988;
}
.BrandLogo{
margin:0 auto;
height:75px;
width: 750px;
clear:both;
}
.BrandLogo a{
  display: inline-block;
  height:75px;
}
.logo1 {
  background-image: url(../img/12345678.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width:104px;
}
.logo1:hover {
background-position: 0 -75px;
}
.logo2 {
  background-image: url(../img/12345678.png);
  background-repeat: no-repeat;
  background-position:-105px 0;
  width:101px;
}
.logo2:hover {
background-position: -105px -75px;
}
.logo3 {
  background-image: url(../img/12345678.png);
  background-repeat: no-repeat;
  background-position:-205px 0;
  width:90px;
}
.logo3:hover {
background-position: -205px -75px;
}
.logo4 {
  background-image: url(../img/12345678.png);
  background-repeat: no-repeat;
  background-position:-295px 0;
  width:75px;
}
.logo4:hover {
background-position: -295px -75px;
}
.logo5 {
  background-image: url(../img/12345678.png);
  background-repeat: no-repeat;
  background-position:-381px 0;
  width:87px;
}
.logo5:hover {
background-position: -381px -75px;
}
.logo6 {
  background-image: url(../img/12345678.png);
  background-repeat: no-repeat;
  background-position:-458px 0;
  width:68px;
}
.logo6:hover {
background-position: -458px -75px;
}
.logo7 {
  background-image: url(../img/12345678.png);
  background-repeat: no-repeat;
  background-position:-535px 0;
  width:75px;
}
.logo7:hover {
background-position: -535px -75px;
}
.logo8 {
  background-image: url(../img/12345678.png);
  background-repeat: no-repeat;
  background-position:-608px 0;
  width:83px;
}
.logo8:hover {
background-position: -608px -75px;
}
footer{
height:90px;
width:910.88px;
position:absolute;
bottom:0;
padding-top: 10px;
background-color:#213a4d;
border-top: 1px solid #242c3e;
margin-top: 10px;
}
footer nav {
  color:white;
}
footer a{
text-decoration: none;
color:white;
font-size: 12px;
font-family:Arial,sans-serif;
margin:0 10px;
}
footer a:hover {
color:#4fa5c4;
}
footer p {
  margin-top: 15px;
  font-size: 10px;
  color:#7f4740;
}
